.layout-app {
    display: flex;
    height: 100vh; // Chiều cao toàn màn hình
}

.sidebar {
    width: 300px;
    transition: width 0.3s ease;
}

.main-content {
    flex-grow: 1; // Cột này sẽ chiếm phần còn lại của màn hình
    overflow: auto;
}
