.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.model_post .ant-modal-content{
  padding: 15px;
  padding-left: 50px;
  background: rgb(57, 57, 57) !important;
  width: auto;
  height: 125px  !important; 
  width: 420px !important;
}

.model_post  .ant-modal-title {
}

.model_post  .ant-modal-body{
}

