.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.model_post .ant-modal-content{
  background: red !important;
  width: auto;
  height: 96px  !important; 
}

.model_post  .ant-modal-title {
}

.model_post  .ant-modal-body{
}

